// Colors
$white : #fff;
$gray : #999999;
$black : #4A4A4A;
$brown : #AB8B67;
$orange : #FCA400;
$bg-color : #FFF7EA;
$pink : #FF8982;



// Fonts
$text-space-m: .1em;
$text-space-l: .2em;

// Display
$max-width: 1096px;